extends layout

block content
  div(class="row", id="top")
    | sdlkfjlskdfj
  div(class="row", id="left")
    div.col-md-4
      for name in mass
        li = name
        |sdfsdf
    div.col-md-8
      a(href="/logout", class="btn btn-info") Выйти

  