extends layout

block content
    div#div_login
        form(action="/login", method="post")
            | введите логин
            input(type="text", placeholder="логин", class="form-control", name="login")
            br
            |введите пароль
            input(type="text",placeholder="пароль", class="form-control", name="password")
            br
            input(type="submit", value="войти", class="btn btn-submit")