body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: darkslategray;
  color: whitesmoke
}

a {
  color: #00B7FF;
}
#div_login{
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
#left{
  background: lightgreen;
}
#top{
  background: lightcyan;
}

.col-md-4{
  background: lightpink;
}
.col-md-8{
  background: lightsalmon;
}